<!-- {% load static %}  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    {% block links %}
    {% endblock links %}
    <!-- this link to request icons from fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');
    </style>
</head>
<body>

    {% block content %}
    {% endblock content %}

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>